
/* bootstrap override */

h1, h2, h3, h4, h5, h6
{
    color: #585f69;
}


/* cumtom style */
.appbox {
    padding: 15px 20px;
    margin-bottom: 25px;
    background: #f7f7f7;
}

.appbox h2 {margin-top:0}

.appbox-top {
    border-top: solid 2px #337ab7;
    margin-top: 10px;
}

.appicon {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    border: 1px solid #ddd;
}

.icon-btn:hover {
    background-color: #FFF;
}

.oplink {
    color: #FFF;
}
.oplink:hover {
    color: #FFF;
}

/** fineuploader overwide **/
.qq-gallery .qq-upload-button-hover {
    background: #FFF;
}
.qq-gallery .qq-upload-button-focus {
    outline: 1px dotted #FFF;
}
.qq-gallery.qq-uploader {
    position: relative;
    min-height: 0px;
}

/** theme **/
header .navbar-default-admin {
    background: #336799;
}

.navbar-default-admin a {
    color: #FFF;
}

.top-alert {
    min-height: 60px;
    text-align: center;
    line-height: 60px;
    padding: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-width: thick;
    border-radius: 0;
    font-size: 16px;
}

.top-alert .close {
    right: 0;
    top: 0;
    line-height: 60px;
}

/** 覆盖bootstrap tooltip背景色 **/
.tooltip-inner {
    background-color:#428bca;
	line-height:20px;
	padding:5px;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color:transparent;
    border-style: solid;
}
.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#428bca}.tooltip.top-left .tooltip-arrow{right:5px;bottom:0;margin-bottom:-5px;border-width:5px 5px 0;border-top-color:#428bca}.tooltip.top-right .tooltip-arrow{bottom:0;left:5px;margin-bottom:-5px;border-width:5px 5px 0;border-top-color:#428bca}.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#000}.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:#428bca}.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#428bca}.tooltip.bottom-left .tooltip-arrow{top:0;right:5px;margin-top:-5px;border-width:0 5px 5px;border-bottom-color:#428bca}.tooltip.bottom-right .tooltip-arrow{top:0;left:5px;margin-top:-5px;border-width:0 5px 5px;border-bottom-color:#428bca}
.tooltip.in{filter:alpha(opacity=100);opacity:1}
/* bootstrap override */

h1, h2, h3, h4, h5, h6
{
    color: #585f69;
}
/* cumtom style */
.appbox {
    padding: 15px 20px;
    margin-bottom: 25px;
    background: #f7f7f7;
}

.appbox h2 {margin-top:0}

.appbox-top {
    border-top: solid 2px #337ab7;
    margin-top: 10px;
}

.appicon {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    border: 1px solid #ddd;
}

.icon-btn:hover {
    background-color: #FFF;
}

.oplink {
    color: #FFF;
}
.oplink:hover {
    color: #FFF;
}

/** fineuploader overwide **/
.qq-gallery .qq-upload-button-hover {
    background: #FFF;
}
.qq-gallery .qq-upload-button-focus {
    outline: 1px dotted #FFF;
}
.qq-gallery.qq-uploader {
    position: relative;
    min-height: 0px;
}

.top-alert {
    min-height: 60px;
    text-align: center;
    line-height: 60px;
    padding: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-width: thick;
    border-radius: 0;
    font-size: 16px;
}

.top-alert .close {
    right: 0;
    top: 0;
    line-height: 60px;
}

header .navbar-default ul.navbar-nav .dropdown-menu li a {
    color:#666;
    line-height:30px;
    line-height: 30px;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background: none;
}
header .navbar-default ul.navbar-nav .dropdown-menu li a:hover{
    background-color:#eee;
}
.dropdown-menu{
    min-width:120px;
}
.navbar-default .navbar-nav>.open>a:focus{
    background: none;
    color:#fff;
}
header .navbar-default ul.navbar-nav li a:after{
    content: '';
    width: 0;
    background: 0 0;
    position: absolute;
}
